---
layout: layout
---
<div class="post-content <% if(config.post_style && !config.post_style.indent) {%>no-indent<% } %>" style="margin-top: 32px; margin-bottom: 24px; outline: 2px #100100 round; border-radius: 25px;
    background: #eafaff;
    padding: 16px;">
    <h2>Welcome to gudgud96's blog!</h2>
    <p>Hi 👋 this is Hao Hao, or you can call me Harry. <br/>I write about AI, ML and music/audio 🎵. You can learn more about me <a href="/about">here</a>.
    <br/>If you find my work interesting, you can consider <a href="https://buymeacoffee.com/gudgud96">buying me a coffee</a>. Happy reading!
    </p>
</div>

<div class="post-preview-container" style="min-height: <%- Math.min(config.per_page, page.posts.length) * 72 %>px">
    <% page.posts.each(function(post){ %>
    <div class="post-preview">
        <div class="post-time"><%= post.date.format(config.date_format) %></div>
        <div class="post-info">
            <a href="<%- config.root %><%- post.path %>">
                <h3>
                    <%- (post.title || "Untitled").replace(/[<>&"]/g,function(c){
                        return {'<':'&lt;','>':'&gt;','&':'&amp;','"':'&quot;'}[c];
                    }) %>
                </h3>
            </a>
            <p>
                <% if (post.tags.length){
                    console.log(post.tags)
                %>
                <span>/</span>
                <% post.tags.forEach(function(tag){ %>
                <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
                <span>/</span>
                <% }) %>
                <% } %>
            </p>
        </div>
    </div>
    <% }); %>
</div>
<ul class="pager">
    <% if (page.prev){ %>
    <li class="previous">
        <a href="<%- config.root %><%- page.prev_link %>">&larr; Newer Posts</a>
    </li>
    <% } %>
    <% if (page.next){ %>
    <li class="next">
        <a href="<%- config.root %><%- page.next_link %>">Older Posts &rarr;</a>
    </li>
    <% } %>
</ul>
